/*CSS para el nav*/

*{
    font-family: 'Titillium Web', sans-serif;
}

/*Logo whats app*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:10px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/*Navegador*/



#navegador{
    background-color: rgba(  150, 241, 128 );
    box-shadow: 0 2px 4px 0  rgba(  21, 96, 2  );
    min-height: 100px;
}


.topmargin-xs{ margin-top:15px}
.topmargin-sm{ margin-top:30px}
.topmargin-lg{ margin-top:60px}

.nav-link{
    color: rgba( 52, 57, 146 );
    font-family: 'Playball', sans-serif;
    font-size: 27px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .2s;
}

.nav-link:hover, .nav-link:focus{
    color: 142, 146, 209 ;
    background-size: 100% 2px;
}

.logo-brand{
    min-width: 60px;
    max-width: 80px;
}

.navbar-toggler{
    font-size: 40px;
}

.navbar-toggler:focus{
    outline: none;
}

/*Portada con la imagen*/
#portada{
    /*background: linear-gradient(to right, rgba(255,255,255,0), rgba( 178, 182, 244 )), url('/img/fotoportada.jpg');*/
    background-image: url('../img/fotoportada.jpg');
    background-size: cover;
    padding-top: 40px;
    margin-top: 100px;
    min-height: 250px;
    color: rgba(  0, 2, 39  ) 
}

/*Productos*/
.content-center{
    max-width: 800px;
    margin: 0px auto 20px auto;
    text-align: center;
}

.content-center h2{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Qwigley', sans-serif;
}

.content-center h2 b{
    font-family: 'Qwigley', sans-serif;
}

.content-center p{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.productos-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;

}

.producto-details{
    position: absolute ;
    bottom: 25px;
    left:25px;
    z-index: 9000;
    text-align: center;
    color: white;
}

.producto-details p{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}


.productos-container img{
    filter: grayscale(1);
    transition: all 0.2s;
}

.productos-container:hover img{
    filter: grayscale(0);
}

.productos-container p{
    display:inline;
    transition: all 0.2s;
}

.productos-container:hover p{
    display:none;
}


/*Blog de Información natural*/
#blog{
    background: linear-gradient(to right, rgba(  21, 96, 2  ), rgba(  150, 241, 128 ));
    /*background-color:rgba(  21, 96, 2  );*/
    color: white;
}

#blog h2{
    font-size: 100px;
    text-decoration: solid;
}

.blog-img{
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 400ms;
    transform-origin: center center;
}

.blog-img:hover{
    transform: scale(1.2);
}

/*Ubicación de la tienda*/

.ubiframe iframe{
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}


#contacto{
    background-color: black;
    color: white;
    text-align: center;
}

#contacto a{
    color:white;
}

#contacto a:hover{
   color: rgba(  21, 96, 2  )
}


/*Responsive*/

/*Tablets*/
@media(max-width:1250px) and (min-width:768px){
    #portada{
        background-image: url('../img/fotoportada02.jpg');
    }

    .producto-details p{
        font-size: 25px;
    }

    .productos-container img{
        filter: grayscale(0);
    }

    .content-center h2{
        font-size: 50px;
    }
}

/*Mobile*/
@media(max-width:767px){
    #portada{
        background-image: url('../img/fotoportada03.jpg');
    }

    .producto-details p{
        font-size: 15px;
    }
    .productos-container img{
        filter: grayscale(0);
    }

    .content-center h2{
        font-size: 30px;
    }

    .content-center p{
        font-size: 15px;
    }

    #blog h2{
        font-size: 50px;
    }
}
